body
{

justify-content:center;
align-items:center;


}
p
{
pasition:relative;
font-family:casteller;
color:#fff;
text-transform: uppercase;
font-size:2em;
letter-spacing:4px;
overflow:hidden;
background:linear-gradient(90deg,red, blue);
background-repeat: 5;
background-size:80%;
animation: animate 5s linear infinite;

}
@keyframes animate
{
0%
{
background-position:-500%;
}
100%
{
background-position: 500%;
}


}